name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:6.0

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: dotnet restore
    - name: Build with dotnet
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal --logger "trx;LogFileName=test-results.trx"
    - name: Fix Git ownership
      if: always()
      run: git config --global --add safe.directory /__w/epsilon-script/epsilon-script
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: .NET Tests
        path: '**/test-results.trx'
        reporter: dotnet-trx
